body {
    background-color: #ececec;
}

body h1 {
    text-align: center;
    font-family: arial;
    color: #252525;
}

body ul{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: left;
    flex-basis: 80%;
    padding: 10px;
}

body ul li {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    border-radius: 25px;
}

body ul li span {
    font-family: arial;
    font-size: 18px;
    color: #363636;
    text-align: center;
}

ul li div h6 {
    margin: 0px;
    border: 0px;
    font-family: arial;
    font-size: 10px;
    color: #363636;
    text-align: left;
}

ul li div p {
    margin: 0px;
    font-family: arial;
    font-size: 10px;
    color: #363636;
    text-align: left;
}

body ul li p {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    z-index: 99;
}

#Bulbasaur {
    background-color: #039e3e;
    border: 4px solid #13381f;
}

#Charmander {
    background-color: #c45725;
    border: 4px solid #860000;
}

#Squirtle {
    background-color: #00adc4;
    border: 4px solid #002f86;
}

#Caterpie {
    background-color: #00c452;
    border: 4px solid #108600;
}

#Weedle {
    background-color: #c1c400;
    border: 4px solid #747200;
}

#Pidgey {
    background-color: #968a54;
    border: 4px solid #4d411b;
}

#Rattata {
    background-color: #c097ee;
    border: 4px solid #550086;
}

form {
    padding: 3px;
}

.search {
    padding: 10px;
    background-color: #860000;
}